# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Python-generated and virtual env files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables and Secrets (CRITICAL)
.env
.env.developer
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs and databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.db
*.sqlite

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
*.launch
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
